html,
body {
	margin: 0px;
	height: 100%;
}

@media (max-width: 800px) {
	body {
		flex-direction: column;
	}
	.header {
		flex-direction: column;
	}
	.categories {
		flex-direction: column;
	}
}

.parent {
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.header {
	height: 200px;
	padding: 10px;
	margin-bottom: 5px;
	display: flex;
	flex: 0;
}

.icon {
	height: 140px;
	padding-top: 30px;
	padding-right: 50px;
	padding-bottom: 30px;
	padding-left: 100px;
	margin-right: 2px;
	justify-content: right;
}

.logo {
	height: 140px;
	width: height;
}

.categories {
	height: 150px;

	padding-top: 5px;
	display: flex;
	justify-content: center;
	align-content: center;
	flex: 0;
}

.profile {
	height: 100px;
	padding-top: 10px;
	padding-bottom: 30px;
	margin: 3px;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
}

img {
	height: 80px;
	width: height;
}

.desc {
	margin: 5px;
}

.infromation {
	height: 200px;
	padding-left: 50px;
	display: flex;
	flex-direction: column;
	flex: 1;
}

.infotop {
	height: 50px;
	display: flex;
	flex-direction: row;
	flex: 0;
}

.infotop-1 {
	height: 50px;
	font-size: 20px;
	display: flex;
	align-items: center;
	flex: 0;
}

.infotop-2 {
	height: 50px;
	display: flex;
	flex-flow: row;
	align-items: flex-end;
	flex: 0;
}

.checkmark {
	height: 18px;
	width: 18px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-bottom: 15px;
}

.follow {
	padding-right: 15px;
	padding-bottom: 5px;
	padding-bottom: 15px;
}

.followbtn {
	background-color: white;
	border-color: rgba(236, 233, 233, 0.938);
	border-width: thin;
	border-radius: 4px;
	font-weight: bold;
}

.dots {
	padding-bottom: 20px;
}

.infomiddle {
	height: 50px;
	display: flex;
	flex-flow: row;
	flex: 0;
}

.count {
	font-weight: bolder;
}

.numberdesc {
	padding-right: 80px;
	padding-left: px;
}

.infobottom {
	height: 95px;
	display: flex;
	flex-flow: column;
	flex: 0;
}

.infobottom-3 {
	height: 18px;
	display: flex;
	padding-top: 15px;
	flex-flow: row;
	align-items: flex-end;
	flex: 0;
	font-size: 10px;
}

.instagram {
	font-weight: bold;
}

.followed {
	padding-right: 3px;
	font-weight: bold;
	color: rgb(157, 157, 157);
}

.follower {
	padding-right: 3px;
	font-weight: bold;
}

.heart {
	height: 10px;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: rgb(6, 57, 109);
}

p {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
	font-weight: unset;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
