html,
body {
	margin: 0px;
	height: 100%;
}

.parent {
	height: 400px;
	width: 1000px;
	display: flex;
	flex-direction: column;
	background-color: rgb(250, 250, 250);
}

.header {
	height: 200px;
	padding-top: 30px;
	margin-bottom: 5px;
	display: flex;
}

.icon {
	padding-top: 10px;
	padding-right: 50px;
	padding-bottom: 30px;
	padding-left: 100px;
}

.logo {
	height: 140px;
}

.categories {
	display: flex;
	justify-content: center;
	gap: 50px;
}

.profile {
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

img {
	height: 80px;
	width: height;
}

.desc {
	margin: 5px;
}

.infromation {
	height: 200px;
	padding-left: 50px;
	display: flex;
	flex-direction: column;
}

.infotop {
	height: 40px;
	display: flex;
	align-items: center;
	align-content: center;
}

.infotop-1 {
	font-size: 25px;
	display: flex;
}

.infotop-2 {
	display: flex;
}

.checkmark {
	height: 18px;
	width: 18px;
	padding-top: 33px;
	padding-right: 15px;
}

.follow {
	padding-top: 25px;
	padding-right: 15px;
}

.followbtn {
	height: 25px;
	background-color: transparent;
	border-color: rgba(236, 233, 233, 0.938);
	border-width: thin;
	border-radius: 4px;
	font-weight: bold;
}

.dots {
	padding-top: 20px;
}

.infomiddle {
	height: 50px;
	display: flex;
}

.count {
	font-weight: bolder;
	padding-right: 4px;
}

.numberdesc {
	padding-right: 40px;
}

.infobottom {
	height: 95px;
	display: flex;
	flex-flow: column;
}

.infobottom-3 {
	display: flex;
	padding-top: 5px;
	font-size: 10px;
}

.instagram {
	font-weight: bold;
}

.followed {
	padding-right: 3px;
	font-weight: bold;
	color: rgb(157, 157, 157);
}

.follower {
	padding-right: 3px;
	font-weight: bold;
}

.line2 {
	display: flex;
	align-items: flex-end;
}

.heart {
	height: 20px;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: rgb(6, 57, 109);
}

p {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
	font-weight: unset;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

div {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
